{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<div class="container">

    <h2>📝 Register New Account</h2>

    <div class="panel">

        {% for m in messages %}
        <p style="color:#b20000;">{{ m }}</p>
        {% endfor %}

        <form method="POST">
            {% csrf_token %}

            <label>Username</label>
            <input type="text" name="username" required>

            <label>Password</label>
            <input type="password" name="password" required>

            <button>Create Account</button>
        </form>

        <div class="footer-links">
            <a href="{% url 'login' %}">⬅ Back to Login</a>
            <a href="{% url 'home' %}">Home</a>
        </div>

    </div>

</div>
