{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<div class="container">

    <h2>👤 User Dashboard</h2>

    <div class="panel">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <label>Upload Chest X-Ray</label>
            <input type="file" name="xray" required>

            <button>Predict</button>
        </form>
    </div>

    {% if result %}
    <div class="panel">
        {% if result == "Pneumonia" %}
        <div class="alert-red">
            <h3>⚠️ Pneumonia Detected</h3>
            <p>Confidence: {{ confidence|floatformat:2 }}%</p>
        </div>
        {% else %}
        <div class="alert-green">
            <h3>✔ Normal</h3>
            <p>Confidence: {{ confidence|floatformat:2 }}%</p>
        </div>
        {% endif %}
    </div>
    {% endif %}

    <div class="footer-links">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'logout' %}" style="color:#b20000;">Logout</a>
    </div>

</div>
